* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2077b2;
  color: #202020;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3 {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ff465a;
}
h4 {
  display: inline;
  margin-bottom: 1rem;
  font-weight: 600;
}

span {
  color: #3d3d3d;
  margin-left: 0.2rem;
}

.container {
  width: 80vw;
  max-width: 37rem;
  padding: 3rem;
  /*Centralizando ao meio*/
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  box-shadow: rgba(8, 21, 65, 0.25) 0px 5px 15px;
  background-color: #ffffff;
}

.pesquisa {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.2rem;
}

.pesquisa input {
  font-size: 1rem;
  padding: 0 0.3rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  border-bottom: 2px solid #2077b2;
}

#pesquisa-btn {
  font-size: 1rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 1rem;
  background-color: #2077b2;
  color: #ffffff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

#resultado {
  display: block;
  margin-top: 2rem;
}

.data-box {
  margin-bottom: 0.5rem;
  letter-spacing: 0.3px;
}

.bandeira {
  display: block;
  width: 45%;
  min-width: 7rem;
  margin: 1rem auto;
}